*.o
*.so
*.a
*.png
*.gif
!example.png
!vortex_ring.png
!icosahedron.gif
demo
icosahedron_sphere
meshviewer
test
*.ply
prof.sh
demo_private.cpp
demo_private
edges
subdivide
curvature
face_areas
face_normals
vertex_normals
one_ring
vertex_adjacent_faces
