*
!.clang-tidy
!.editorconfig
!.gitignore
!README.md
!example.png
!Makefile
!demo.cpp
!shaders
!deform.ply
!axis_cross_flat_shading_vertex_shader.glsl
!axis_cross_smooth_shading_vertex_shader.glsl
!flat_shading_fragment_shader.glsl
!flat_shading_vertex_shader.glsl
!smooth_shading_fragment_shader.glsl
!smooth_shading_vertex_shader.glsl
!generate_colormaps.py
!mesh.hpp
!mesh_operators.cpp
!mesh_primitives.cpp
!mesh_print.cpp
!mesh_structure.cpp
!edges.ref
!subdivide.ref
!test_edges.cpp
!test_subdivide.cpp
!meshviewer.cpp
!plyfile.hpp
!plyfile_parse.cpp
!axis_cross.cpp
!colormap.hpp
!compileShader.c
!compileShader.h
!glad/glad.c
!glad/include/KHR/khrplatform.h
!glad/include/glad/glad.h
!quatern_transform.cpp
!quatern_transform.hpp
!test.cpp
!trimesh_render.cpp
!trimesh_render.hpp
